<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="testBase.TestListener"></listener>
    </listeners>
    <test name="Regression">
        <groups>
            <run>
                <exclude name="absolete"></exclude>
            </run>
        </groups>
        <packages>
            <package name="rediff.com"></package>
        </packages>
    </test>

</suite>