<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="testBase.TestListener"></listener>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="automationPracticeTest.FE.LoginFeature">
                <methods>
                    <include name="test"></include>
                    <include name="validation"></include>
                </methods>
            </class>
        </classes>
<!--        <packages>-->
<!--            <package name="automationPracticeTest.FE"></package>-->
<!--        </packages>-->
    </test>
</suite>